header {
      text-align: center;
      padding: 25px 0; /* Ajustez la valeur selon vos besoins */
}
#logo {
      max-width: 25%; /* Assurez-vous que l'image ne dépasse pas la largeur du conteneur */
      height: auto;
}
