/* styles_contact.css */

.contact-button {
  display: inline-block;
  margin: 8px;
}

.contact-container {
  background-color: #ff0000; /* Couleur rouge */
  padding: 8px 16px;
  border-radius: 4px;
  display: flex;
  align-items: center;
}

.contact-container i {
  margin-right: 8px;
  color: white;
}

.contact-text {
  color: white;
  font-weight: bold;
}
